{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add Player</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" {% if object %} value="Submit" {% else %} value="Add Player" {% endif %} class="btn">
</form>

<script>
    const dateEl = document.getElementById('id_contract_exp');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_position');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}