{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ player.name }}</span>
                <p>Age: {{ player.age }}</p>
                <p>Position: {{ player.position }}</p>
                <p>Market Value: {{ player.mkt_value }}</p>
                <p>Contract Exp Date: {{ player.contract_exp }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'update_player' player.id %}">Edit</a>
                <a href="{% url 'delete_player' player.id %}">Delete</a>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col s6">
                <h3>{{ player.name }}'s Titles</h3>
                {% if player.titles.count %}
                {% for trophy in player.titles.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            {{ trophy.title }}
                        </span>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h5>No Titles</h5>
                {% endif %}
            </div>

            <div class="col s6">
                <h3>Available Honors</h3>
                {% if trophies.count %}
                {% for trophy in trophies.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            {{ trophy.title }}
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'add_title' player.id trophy.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h5>{{cat.name}} Already Has All Available Honors</h5>
                {% endif %}

            </div>

        </div>
    </div>




    <div class="col s6">
        <form method="POST" action="{% url 'add_wage' player.id %}">
            {% csrf_token %}
            {{ wage_form.as_p }}
            <input type="submit" class="btn" value="Add Wages">
        </form>
        <br>
        {% if player.income.amount__sum > 0 %}
        <div class="card-panel teal-text center-align">{{player.name}} salary to date: {{player.income.amount__sum}}
        </div>
        {% else %}
        <div class="card-panel red-text center-align">{{player.name}} NEEDS TO GET PAID!!!!!</div>
        {% endif %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Salary Amount</th>
                    <th>Date Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for paystub in player.wage_set.all %}
                <tr>
                    <td>{{paystub.amount}}</td>
                    <td>{{paystub.payday}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_payday');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
</script>
{% endblock %}