{% extends 'base.html' %}
{% block content %}

<h1>Top Footballers</h1>

{% for player in footballers %}
<div class="card">
    <a href="{% url 'player' player.id %}">
        <div class="card-content">
            <span class="card-title">{{ player.name }}</span>
            <p>Age: {{ player.age }}</p>
            <p>Position: {{ player.position }}</p>
            <p>Market Value: {{ player.mkt_value }}</p>
            <p>Contract Exp Date: {{ player.contract_exp }}</p>
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}